.first-paragraph {
    background-color: black;
    height: 240vh;
    padding-top: 300px;
    margin: 0px auto;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.351%;
    text-align: center;

    .highlight-red {
        color: red;
    }

    a {
        width: 100px;
    }
}

.row {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    left: 0;
    right: 0;
    margin: 100px auto;
    gap: 1.5%;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 23%;
    max-width: 23%;
}

.column img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.column2 {
    flex: 50%;
    max-width: 53%;
}

.column2 img {
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}