@import url("index.css");
@import url("aboutus.css");
@import url("gallery.css");
@import url("footer.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(12.5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    a {
        text-decoration: none;
        color: white;
    }
}

header .container {
    max-height: 55px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

#logo {
    color: #fff;
    font-family: Koulen, sans-serif;
    font-size: 36px;
    line-height: 55px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: Koulen, sans-serif;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #F00;
}

.nav-links button {
    border-radius: 60px;
    background: #F00;
    border: none;
    color: white;
    width: 60px;
    height: 25px;
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 9999;
    transition: opacity 0.75s visibilty 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 35px;
    height: 35px;
    border: 5px solid #dddddd;
    border-top-color: #F00;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }


}